@import "tailwindcss";

@theme {
  --color-primary-1: #39b54a;
  --color-primary-2: #006837;

  --color-card-web-1: #39b54a;
  --color-card-web-2: #8cc63f;

  --color-card-compra-1: #0071bc;
  --color-card-compra-2: #00ffff;

  --color-card-boletin-1: #f15a24;
  --color-card-boletin-2: #fbb03b;
  
  --color-card-catalog-1: #d9e021;
  --color-card-catalog-2: #8cc63f;
}