<footer class="flex flex-col justify-center items-center py-2 px-2">
    <p class="text-center text-white text-pretty">Impulsamos la cultura, el conocimiento universitario y la educación pública para construir una sociedad más justa y reflexiva.</p>
    <div class="flex justify-center items-center">
    <a href="" class="hover:scale-120 active:scale-125 focus:scale-125 transition-all duration-300"><img src="/logos/footer.svg" alt="Instagram" class="size-40"/></a>
    </div>
</footer>