<section id="Redes" class="flex flex-col justify-center items-center gap-6 -mt-12 mb-2 relative z-10">
  <div class="flex justify-center items-center gap-6">
    <a href="https://www.instagram.com/edunlu_editorial/" target="_blank" class="hover:scale-105 active:scale-105 focus:scale-105 transition-all duration-300">
      <img src="/logos/instagram.svg" alt="Instagram" class="size-12 sm:size-14 transition-all duration-300 hover:scale-110 focus:scale-115 active:scale-105" />
    </a>

    <a href="https://www.youtube.com/@edunlu5875" target="_blank" class="hover:scale-105 active:scale-105 focus:scale-105 transition-all duration-300">
      <img src="/logos/youtube.svg" alt="YouTube" class="size-12 sm:size-14 transition-all duration-300 hover:scale-110 focus:scale-115 active:scale-105" />
    </a>

    <a href="https://x.com/EditorialEdunlu" target="_blank" class="hover:scale-105 active:scale-105 focus:scale-105 transition-all duration-300">
      <img src="/logos/x.svg" alt="X (Twitter)" class="size-12 sm:size-14 transition-all duration-300 hover:scale-110 focus:scale-115 active:scale-105" />
    </a>
  </div>

    <p class="text-center text-white text-2xl sm:text-3xl font-medium text-pretty">
        Editorial Universidad Nacional de Luján
    </p>
</section>