---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import '@styles/global.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>EdUNLu - Links</title>
		<meta name="description" content="Explorá los enlaces destacados de la Editorial de la Universidad Nacional de Luján (EdUNLu). Accedé a nuestro catálogo de publicaciones, formulario de compra, suscripción al boletín y redes sociales oficiales.">
		<meta name="keywords" content="EdUNLu, Editorial UNLu, Universidad Nacional de Luján, catálogo de libros, publicaciones académicas, revistas universitarias, editorial universitaria argentina, boletín editorial, redes sociales EdUNLu">
		<meta name="author" content="Editorial de la Universidad Nacional de Luján (EdUNLu)">
		<meta name="robots" content="index, follow">

		<!-- Open Graph -->
		<meta property="og:title" content="Enlaces Destacados | EdUNLu - Editorial de la Universidad Nacional de Luján">
		<meta property="og:url" content="">
		<meta property="og:description" content="Accedé fácilmente al catálogo, redes sociales, boletín y formulario de compra de la Editorial de la Universidad Nacional de Luján.">
		<meta property="og:image" content="">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="es_AR">
		<meta property="og:site_name" content="EdUNLu - Editorial de la Universidad Nacional de Luján">

		<!-- Twitter / X -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="edunlu.unlu.edu.ar">
		<meta property="twitter:url" content="">
		<meta name="twitter:title" content="Enlaces Destacados | EdUNLu - Editorial UNLu">
		<meta name="twitter:description" content="Catálogo, redes sociales y recursos oficiales de la Editorial de la Universidad Nacional de Luján.">
		<meta name="twitter:image" content="">
		<meta name="twitter:creator" content="@edunlu_links">
	</head>
	<body class="max-w-xl mx-auto min-h-dvh fondo">
		<Header  />
				<main>
					<slot />
				</main>
		<Footer />	
	</body>
</html>
<style>
	.fondo {
		background-image: linear-gradient(180deg,rgb(255, 255, 255) 0%, rgba(0, 104, 55, 1) 100%);
	}
</style>
